body {
	background: url('pexels-jopwell-2422287.jpg') no-repeat;
	background-size: cover;
	font-family: Arial;
	color: white;

}
Sign up{
    margin: 0;
    padding: 0;
}
h1{
    text-align: centre;
    padding: 20px;
}

h2 a input {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: green;
    line-height: 44px;
}
.p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: darkgreen;
    line-height: 24px;
}
.textbox i{
	width: 15px;
	float: left;
	text-align: center;

}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 50%;
	float: left;
	margin: 0 10px;
}
.btn:hover;pointer-events: {
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: green;
	padding: 10px;
	margin: 20px;
	font-size: 18px;
	cursor: pointer;
}
ul {
float: inherit;
list-style-type: none;
margin-top: 25px;
}
ul li{

background-color: black;


display: inline-block;
}
ul li a {
	text-decoration:none;
	color: #fff;
	padding: 5px 25px;
	border: 1px solid #fff;
	 


}
ul li a:hover{
	background-color: green;
	color: #000;
	cursor: pointer;
}
ul li.active a{
	background-color: green;
	color: #000;
}


.testimonials
{
    margin: 10px auto;
}
.testimonials h1
{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after
{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img
{
    top: -60px;
    position: static;
    left: cal(50% -60px);
    border: 10px solid white;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}

blockquote
{
    font-size: 16px;
    line-height: 30px;
    color: green;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px green;
    cursor: pointer;
    transition: 0.5s;
}
.team-section{
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}
.team-selection h1{
    text-transform: uppercase;
    margin-bottom: 60ox;
    color: white;
    font-size: 40px
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify; 
}












